@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
body {
  margin : 0;
  padding: 0;
  width : 100vw;
  height: 100vh;
  font-family: 'Noto Sans', sans-serif;
}
.button-icons {
  font-size: 30px;
}
.small-icons {
  font-size: 20px;
  margin: 0px 2px;
}